version: '3'
services:
    apache:
        build: .docker/apache
        container_name: doughnut_apache
        ports:
            - 8080:80
        volumes:
            - .docker/config/vhosts:/etc/apache2/sites-enabled
            - .:/home/wwwroot/doughnut_api
        depends_on:
            - php

    mysql:
        image: mysql:5.7
        container_name: doughnut_mysql
        volumes:
            - .docker/data/db:/var/lib/mysql
        restart: always
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: doughnuts
            MYSQL_USER: doughnut_user
            MYSQL_PASSWORD: doughnut_password

    php:
        build: .docker/php
        container_name: doughnut_php
        volumes:
            - .:/home/wwwroot/doughnut_api
        depends_on:
            - mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: doughnut_phpmyadmin
        environment:
          PMA_HOST: mysql
          MYSQL_ROOT_PASSWORD: root
        ports:
            - 8081:80
        depends_on:
            - mysql
